In [55]:
#11.1
#zoo.py file

f = open('zoo.py','w')

def hours():
    print('Open 9-5 daily')
    
    
from zoo import *
hours()

Open 9-5 daily

In [56]:
#11.2
#import menagerie

import zoo as menagerie
hours()

Open 9-5 daily

In [ ]:
#16.8
#use the sqlalchemy module

from sqlalchemy import create_engine, select, Table, Column, MetaData

engine = create_engine('sqlite:///books.db')


metadata = MetaData()
books_table = Table('book', metadata, autoload_with=engine)


with engine.connect() as connection:
    query = select([books_table.c.title]).order_by(books_table.c.title)
    result = connection.execute(query)

    print("Titles in alphabetical order:")
    for row in result:
        print(row[0])