In [1]:
import pandas as pd

In [2]:
pd.

SyntaxError: invalid syntax (3133375982.py, line 1)

In [4]:
df = pd.read_cvs('telco_churn.csv')

AttributeError: module 'pandas' has no attribute 'read_cvs'

In [ ]:
tempdict = {'col1': [1,2,3], 'col2': [4,5,6], 'col3': [7,8,9]}

In [ ]:
dictdf = pd.DataFrame.from_dict(tempdict)

In [6]:
df.head()

NameError: name 'df' is not defined

In [ ]:
dictdf.head()

In [ ]:
df.tail(15)

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
df.describe()

In [ ]:
df.describe(include = 'object')

In [ ]:
df.state

In [ ]:
df.['international plan']

In [ ]:
df[['state', 'international plan']]

In [ ]:
df.churn.unique()

In [ ]:
df.head()

In [ ]:
df[df['international plan'] == 'No']

In [ ]:
df[(df['international plan'] == 'No') & (df['churn'] == True)]

In [ ]:
df.iloc[14]

In [ ]:
df.iloc[14, -1]

In [3]:
df.iloc[22:33]

NameError: name 'df' is not defined

In [ ]:
state = df.copy()
state.set_index('State', inplace = True)

In [ ]:
state.head()

In [ ]:
state.loc['OH']

In [ ]:
df.isnull().sum()

In [ ]:
df.dropna(inlace = True)

In [ ]:
df.isnull().sum()

In [ ]:
df.drop('Area code', axis = 1)

In [ ]:
df['New Column'] = df['Total nigh minutes'] + df['Total intl minutes']

In [ ]:
df.head()

In [ ]:
df['New Column'] = 100

In [ ]:
df.head()

In [ ]:
df.iloc(0,-1) = 10

In [ ]:
df.head()

In [ ]:
df['Churn Binary'] = df['Churn'].apply(lamba x:1 if x == True else 0)

In [ ]:
df[df['Churn Binary'] == True].head()

4.Delete/Output

In [ ]:
#output to cvs
df.to_cvs('output.csv')

In [ ]:
#Output to JSON
df.to_json()

In [ ]:
#Output to HTML
df.to_html()

In [ ]:
#delete to DataFrame
del df